// create .env file for local development
// create .staging.env file for staging development
// create .production.env file for production
// copy this text into the file

DB_HOST=****
DB_PORT=****
DB_USER=****
DB_PASSWORD=****
DB_SCHEMA=****
HOST_PORT=****
HOST_DOMAIN=****

// replace **** with your development parameters